<html>
  <body>
    <center>
      <p>
      Bloc 'em out RDoc, <i>-l</i>.<p>
      <b>Bloc 'em out</b>, <i>--l</i>.<p>
        <img src="https://media.giphy.com/media/xT5LMzWXhhaw3aOdFK/giphy.gif" style="max-width:100%"/>
      <p>

    </center>
  </body>
</html>
