<h1>Welcome to Bloccit</h1>
<p>This is your home now.</p>

<!-- used for demonstration only
<p id="index-title">This is your home now.</p>

<div class="posts">First post placement holder.</div>
<div class="posts">Second post placement holder.</div>
<section>Section element content, here.</section>
-->
