<br>
 <div class="jumbotron">
   <h1>Bloccit</h1>
   <p>Bloccit is a resource for sharing appropriate links with your friends!</p>
   <p>
     <%= link_to "Sign In", new_session_path %> or
     <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
   </p>
 </div>


 <div class="row">
   <div class="col-md-4">
     <h3>Determine</h3>
     <p>Check-ch-check-check-check git checkout .<br /> What-wha-what resources are in route?<br />
     When-wh-when unsure, comment code out.
   </p>
   </div>
   <div class="col-md-4">
     <h3>Confirm</h3>
     <p>I'm testing data migrations;
       <br />
        Confirming with validations.<br /> <i>(Good good good rails g migrations.)</i> </p>
   </div>
      <div class="col-md-4">
        <h3>Continue</h3>
        <p>Don't stop. Git it, git it<br />
          Start new repo: <i>git init</i><br />
        Commit, push, merge; don't  Ctrl+C  it</p>
      </div>
 </div>
