<h1>Edit Post</h1>

 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for Editing Posts:</p>
     <ul>
       <li>One sentence must begin with an adverb.</li>
       <li>Spell three words incorrectly.</li>
       <li>Content can be edited, but subject must remain on topic.</li>
     </ul>
   </div>
   <div class="col-md-8">
     <%= render partial: 'form', locals: { topic: @post.topic, post: @post } %>
   </div>
 </div>
