// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info .logged_in {
   background: white;
   border: none;
   margin: 0;
   padding-bottom: 14px;
   padding-right:  10px;
 }
 .user-info .logged_in .user {
   display: inline-block;
   padding-right: 10px;
   font-weight: bold;
   color: #blue;
 }
